
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

*/img {
  max-width: 100%;
}


/* Erich's styling starts*/

html, body{
  font-family: arial, sans-serif;
  height: 100%;
}


.menu-bar {
  background-color: #3D5C9F;
  min-width: 100%;
  height: 3.4em;
}

li {
  list-style-type: none;
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0.8);
  border-top: 1px solid #444;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  font-weight: bold;
  color: white;
  padding: 1em;
  cursor: pointer;
  }

li:hover {
  background-color: rgba(0, 0, 0, 0.9);
}


.content-wrap {
    min-height: 100%;
    position: absolute;
    background: #fff;
    overflow-y: auto;
    -webkit-transform: translate3d(0,0,0);
    -webkit-transition: -webkit-transform 0.3s;
    -webkit-backface-visibility: hidden;
}


body.menu .content-wrap {
  -webkit-transform: translate3d(240px,0,0);
}

h1,h2,p {
  padding-left: 8px;
}

h1{
  font-size: 32px;
}

h2{
  font-size: 24px;
}

p{
  line-height: 1.2
}

#menu-items {
  min-width: 240px;
  float: left;
  height: 100%;
  /*display: none;*/
  background-color: rgba(0, 0, 0, 0.25);
}

.hamburger {
  position: relative;
  border: solid #3C5289 1px;
  background-color: #4560A1;
  top: 12px;
  left: 10px;
  height: 30px;
  width: 30px;
  border-radius: 5px;
  cursor: pointer;
}

.line {
  height: 4px;
  width: 22px;
  background-color: white;
  position: relative;
  margin-left: 4px;
  margin-top: 3px;
  border-radius: 5px;
}

.line1{
  margin-top: 6px;
}